<% include ../header.html.ejs %>

<p><%= t('notification.email.welcome_1') %></p>
<h2><%= t('notification.email.welcome_settings') %></h2>
<p><%= t('notification.email.welcome_2') %></p>
<h2><%= t('notification.email.welcome_start_now') %></h2>
<p><%= t('notification.email.welcome_3') %></p>

<% include ../footer.html.ejs %>