<div id="wrapper">
  <div id="header">

    <div id="left-top">
      <% if (domain.domain_name == 'betrireykjavik.is') { %>
         <img alt="Betri Reykjavík" src="https://s3.amazonaws.com/yrpri-direct-asset/yrpri6_emails/BR_email.png" />
      <% } %>
      <% if (domain.domain_name == 'betraisland.is') { %>
       <img alt="Betra Ísland" src="https://s3.amazonaws.com/yrpri-direct-asset/yrpri6_emails/bi_email.png" />
      <% } %>
      <% if (domain.domain_name  == 'yrpri.org') { %>
        <img  alt="Your Priorities" src="https://s3.amazonaws.com/yrpri-direct-asset/yrpri6_emails/yp_email.png" />
      <% } %>
    </div>

    <div id="right-top">
      <p class="br">
        <% if (community.name) { %>
         <%= community.name %>
        <% } %>
        <% if (!community.name) { %>
          <%= domain.name %>
        <% } %>
      </p>
    </div>
  </div>

  <div id="header-image">
    <img src="<%= headerImageUrl %>" />
  </div>

  <div id="content">

    <%= t('notification.email.dear') %> <%= user.name %>